/*
 *
 * MofoNamer Theme
 * Author: Rob Spectre
 * Date: 7 October 2011
 *
 */

html, body {
    background: #024656;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
}

h1 {
    font-family: 'Holtwood One SC', serif;
    font-size: 36px;
    text-align: center;
}

#container {
    background: white;
    width: 970px;
    margin: 0 auto 0 auto;
    display: block;
}
